@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer components {
  body {
    @apply text-zinc-100
  }
}

body {
  font-family: 'Noto Sans SC', sans-serif;
}

body::before {
  content: '';
  background-image: url('/monkey.svg');
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80vw;
  height: 60vh;
}

@media screen and (min-width: 768px) {
  body::before {
    width: 30vw;
  }  
}